import feedparser, random, asyncio, requests, os, time, textwrap, json, pathlib
from datetime import datetime
import edge_tts
# FIX vanhalle moviepy + uudelle Pillow
import PIL.Image
if not hasattr(PIL.Image, 'ANTIALIAS'):
    PIL.Image.ANTIALIAS = PIL.Image.LANCZOS

from moviepy.editor import *
from PIL import Image, ImageDraw, ImageFont
